<% include partials/head %>

  <div class=delete><a href=/?id=<%= fileid %>&action=delete>Delete this file</a></div>
  
  <h1><a href="/">Tapper:</a> <%= file.name %></h1>
  
  <div id=chart><canvas id="Chart"></canvas></div>
  
  <p class=desc><%= file.desc %></p>
  
  <p class=date><%= file.date %></p>
  
  
  
   <% for (var point in file.data) { %>
    <%- point %> : <%- file.data[point] %> <br>
  <% } %>
  

  <script>
    
  var ctx = document.getElementById("Chart");
  var myChart = new Chart(ctx, {
      "type":"line",
      "data":{
        "labels":["January","February","March","April","May","June","July"],
        "datasets":[{"label":"My First Dataset","data":[65,59,80,81,56,55,40],
        "fill":false,
        "borderColor":"rgb(75, 192, 192)",
        "lineTension":0.1
      }]},
      "options":{maintainAspectRatio: false}
      
    });
  </script>

<% include partials/foot %>